@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name=" " value="${item.id}" underline="true"/>
                            <#input id="issueId" name="发布id" value="${item.issueId}" underline="true"/>
                            <#input id="taskRelationId" name="任务分享id" value="${item.taskRelationId}" underline="true"/>
                            <#input id="lookUserId" name="浏览用户id" value="${item.lookUserId}" underline="true"/>
                            <#input id="lookTime" name="浏览时长" value="${item.lookTime}" />
                </div>

                <div class="col-sm-6">
                            <#input id="isClick" name="是否点击广告 0-未点击 1-已点击" value="${item.isClick}" underline="true"/>
                            <#input id="isCopy" name="是否复制商品链接" value="${item.isCopy}" underline="true"/>
                            <#input id="isRelation" name="是否点击联系方式" value="${item.isRelation}" underline="true"/>
                            <#input id="ctime" name="" value="${item.ctime}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="ArticleIssueLooksInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="ArticleIssueLooksInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/articleIssueLooks/articleIssueLooks_info.js"></script>
@}
