@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="" value="${item.id}" underline="true"/>
                            <#input id="assessType" name="规则类型" value="${item.assessType}" underline="true"/>
                            <#input id="matching" name="0-小于  1-大于  3-等于  4-小于等于  5-大于等于" value="${item.matching}" underline="true"/>
                            <#input id="valType" name="值类型  0-数值 1-字符" value="${item.valType}" />
                </div>

                <div class="col-sm-6">
                            <#input id="val" name="匹配值" value="${item.val}" underline="true"/>
                            <#input id="assessScore" name="匹配分值" value="${item.assessScore}" underline="true"/>
                            <#input id="createTime" name="创建时间" value="${item.createTime}" underline="true"/>
                            <#input id="createUser" name="创建人" value="${item.createUser}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="AssessSettingInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="AssessSettingInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/assess/assessSetting/assessSetting_info.js"></script>
@}
