@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="" value="${item.id}" underline="true"/>
                            <#input id="userId" name="发起用户id" value="${item.userId}" underline="true"/>
                            <#input id="award" name="阅读奖励金币" value="${item.award}" underline="true"/>
                            <#input id="sumAward" name="总奖励金币" value="${item.sumAward}" underline="true"/>
                            <#input id="expire" name="到期时间" value="${item.expire}" />
                </div>

                <div class="col-sm-6">
                            <#input id="ctime" name="" value="${item.ctime}" underline="true"/>
                            <#input id="generalizeCount" name="推广人数" value="${item.generalizeCount}" underline="true"/>
                            <#input id="lookCount" name="浏览人数" value="${item.lookCount}" underline="true"/>
                            <#input id="advertisingId" name="广告id" value="${item.advertisingId}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="ArticleTaskInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="ArticleTaskInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/articleTask/articleTask_info.js"></script>
@}
