@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="" value="${item.id}" underline="true"/>
                            <#input id="userId" name="" value="${item.userId}" underline="true"/>
                            <#input id="goldNum" name="金币数" value="${item.goldNum}" underline="true"/>
                            <#input id="type" name="提现类型 0-支付宝 1-微信" value="${item.type}" underline="true"/>
                            <#input id="account" name="提现账户" value="${item.account}" />
                </div>

                <div class="col-sm-6">
                            <#input id="ctime" name="" value="${item.ctime}" underline="true"/>
                            <#input id="status" name="审核状态 0-待审核 1-审核成功  2-审核失败" value="${item.status}" underline="true"/>
                            <#input id="authTime" name="审核时间" value="${item.authTime}" underline="true"/>
                            <#input id="remark" name="备注" value="${item.remark}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="GoldExtractInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="GoldExtractInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/goldExtract/goldExtract_info.js"></script>
@}
