<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.modular.system.dao.VideoTaskMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stylefeng.guns.modular.system.model.VideoTask">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="award" property="award"/>
        <result column="sum_award" property="sumAward"/>
        <result column="expire" property="expire"/>
        <result column="ctime" property="ctime"/>
        <result column="generalize_count" property="generalizeCount"/>
        <result column="look_count" property="lookCount"/>
        <result column="advertising_id" property="advertisingId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, award, sum_award, expire, ctime, generalize_count, look_count, advertising_id
    </sql>


    <select id="taskVideoList" resultType="com.stylefeng.guns.modular.api.dto.VideoDto">
        select a.id,a.title,a.previews,b.id as issueId,c.award,c.sum_award as sumAward,c.expire,c.id as taskId,c.generalize_count as generalizeCount,d.id as uid,d.avatar,d.nick from
        tb_video as a
        left join tb_video_issue as b on a.id = b.video_id
        left join tb_video_task as c on b.task_id = c.id
        left join tb_client_user as d on c.user_id = d.id
        where b.task_id != 0 limit #{offset},#{limit}
    </select>
</mapper>
